@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image:url(./Home1.jpeg) ;*/
    font-family: 'Poppins', sans-serif; 
}

body {
    background: white;
}

header {
    position: fixed;  /* This makes the navbar fixed/sticky at the top */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px 60px;
    background: transparent;  /* This makes the navbar transparent */
      /* Made the border semi-transparent */
}

header .logo {
    color: #99A7AF;
    font-weight: bold;
    font-size: 2.5em;
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}

header .navigation li a {
    text-decoration: none;
    color:#99A7AF;
}

header .navigation li a:hover {
    border-bottom: 1px solid #99A7AF;
}

header .hamburger {
    display: none;
    cursor: pointer;
}

header .hamburger i {
    color: #99A7AF;
}

.alert {
    position: fixed;
    top: 5%;
    right: 2%;
    /* background: #111; */
    color: #99A7AF;
    font-weight: 800;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    padding: 20px;
    width: 300px;
    height: 100vh;
    border-radius: 10px;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
}

.alert .navigation1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.alert .navigation1 li a {
    text-decoration: none;
    color: #99A7AF;
}

.alert .navigation1 i {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: #99A7AF;
}

@media(max-width:991px) {
    header .navigation {
        display: none;
    }

    header .hamburger {
        display: block;
    }
}

.alert.open {
    transform: translateX(0);
}